.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
body{
  background-color: white;
  text-align: center;
  font-family: sans-serif;
}
input{
  display: flex;
  margin-left:38%;
  width: 20%;
  border: 0;
  outline: 0;
  padding: 0.5rem 0;
  border-bottom: 2px solid #d3d3d3;
  box-shadow: none;
  color: #111;
  
}
#btn{
  position: relative;
  left: 9%;
 cursor: pointer;
 margin-top: 1%;
 padding: 5px 8px;
}
#btn:hover{
  background-color: yellow;
  transition-duration: 1s;
}
.operationBtn {
  padding: 1ch;

}
.center{
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
#header{
  background-color: black;
}
#header ul{
  display: flex;
  padding: 10px 20px;
list-style-type: none;
}
#header h1{
 margin-right: auto;
  font-size: 20px;
  color: white;
}
#header li {
  position: relative;
  padding: 15px;
}
#header a{
  margin: 0;

  color: white;
}
#header li :hover{
  background-color: yellow;
  transition: 1s;
}
label{
  margin: 0px;
  position: absolute;
  right:33%;
  top: 18%;
}
.productContainer{
  display: flex;
  flex-direction: row;
  width: 100%;
  flex-wrap: wrap;
  gap: 2ch;
  justify-content: center;
}
.product{
  width: 10em;
}